@media only screen and (max-width:2560px) {
	.email input {
		max-width: 18vw;
	}
}


@media only screen and (max-width:1920px) {
	.email input {
		max-width: 24vw;
	}
}

@media only screen and (max-width:1280px) and (max-height: 600px) { 
	.offer_title {
		margin-top: 14vw;
	}
}

@media only screen and (max-width:1024px) { 
	.smartphone {
	max-width: 38em;
	}

	.descr_text_left,
	.descr_text_right {
	max-width: 480px;
	}

	.descr_text_right {
		margin-top: 50px;
	}

	.box_great .box_text,
	.box_start .box_text {
		margin-bottom: 10px;
	}

	.box_text {
		font-size: 0.9rem;
	}

}

@media only screen and (max-width:986px){
	.descr_text_left, .descr_text_right {
		max-width: 460px;
	}
}

@media only screen and (max-width:980px) {
	.head_text {
		font-size: 1rem;
	}
}

@media only screen and (max-width:875px) {
	.description_head {
		margin-bottom: 30px;
	}

	.box_gesign .box_text,
	.box_picture .box_text {
		margin-bottom: 20px;
	}

	.box_clients .like {
		right: 10%;
	}

	.box_start .like,
	.box_sign .like {
		top: 90%;
		right: 10%;
	}
}

@media only screen and (max-width:800px) {
	.box_content {
		margin-top: 20px;
		margin-left: 25px;
	}

	.box_start .box_text {
		margin-bottom: 20px;
	}

	.offer {
		background-size: 230%;
	}

	.offer_text {
		font-size: 1rem;
	}
}

@media only screen and (max-width:768px) { 
	.smartphone {
		display: none;
	}
	
	.description_head {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.descr_text {
		height: auto;
	}
	
	.descr_text_left,
	.descr_text_right {
		width: 100%;
	}

	.descr_text_right {
		margin-top: 0;
	}

	.box_built,
	.box_picture {
		display: none;
	}
	
	.box {
		width: 33.33%;
	}
	
	.big_box,
	.box_start {
		width: 50%;
	}

	.box_start .box_title {
		margin-bottom: 30px;
	}

	.box_start .box_text {
		margin-bottom: 40px;
	}

	.box_text {
		font-size: 1rem;
	}

	.offer {
		background-size: 190%;
	}

	.offer_text {
		font-size: 1rem;
	}

	.email {
		width: auto;
	}

	.email_btn {
		right: 5px;
	}

}

@media only screen and (max-width:641px) { 
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
}

@media only screen and (max-width:425px) {
	.head {
		background-position: center center;
	}

	.head_title {
		margin-top: 150px;
	}
	.head_text {
		margin-bottom: 200px;
	}

	.featured {
		margin-bottom: 50px;
	}
	
	.featured_box {
		flex-direction: column;
	}

	.box {
		width: 97%;
		align-self: center;
	}

	.box_gesign,
	.box_great,
	.box_start {
		display: none;
	}

	.details {
		margin-bottom: 50px;
	}

	.details_items {
		flex-direction: column;
	}

	.details_box {
		width: 100%;
	}

	.details_box_text {
		max-width: 100%;
		margin-bottom: 15px;
	}
	
	.offer {
		height: 100%;
	}

	.offer_box {
		margin-bottom: 0;
	}

	.offer_link {
		margin-bottom: 30px;
	}

	.offer_title {
		margin-top: 10%;
		font-size: 2.5rem;
	}

	.offer_text {
		font-size: 1rem;
	}

	.reason_item {
		flex-direction: column;
	}

	.reasons_box {
		width: 100%;
		margin-bottom: 30px;
	}

	.reasons_box:last-child {
		margin-bottom: 60px;
	}

	.reasons_box_text {
		max-width: 100%;
	}

	.reasons_title {
		margin-top: 60px;
		margin-bottom: 30px;
	}

	.reasons_box_title {
		font-size: 1rem;
	}

	.price_container {
		flex-direction: column;
	}

	.price_item {
		margin: 70px 0;
	}

	.price_item:last-child {
		margin: 40px 0;
	}

	.rate {
		background: #bd8cbf;
	}

	.footer_item {
		flex-direction: column;
	}

	.footer_title {
		font-size: 1rem;
	}

	.feature_left {
		max-width: 100%;
	}
	
	.feature_right {
		margin-top: 25px;
	}

	.feature_left {
		margin-top: 50px;
		margin-bottom: 0;
	}

	.email input,
	.email_btn {
		width: 100%;
	}

	.email_btn {
		width: 150px;
		right: 30%;
		bottom: -45px;
		height: 40px;
	}

	.email_check,
	.email input {
		font-size: 2rem;
	}
	
	.footer_spam {
		margin-top: 45px;
	}
}

@media only screen and (max-width:360px) {
	.email_btn {
    	right: 30%;
	}
}

@media only screen and (max-width:320px) { 
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
	.offer {
		background-size: 230%;
	}

	.price_text {
		margin-bottom: 15px;
	}

	.price_btn_popular {
		margin-bottom: 15px;
	}

	.email_btn {
    	right: 25%;
	}

}